body {
    font-family: "Segoe UI";
    min-width: 1140px;
}
nav {
    margin-left: auto;
}
.container {
    max-width: 1140px;
    margin: auto;
}
.upperbox {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header {
    height: 62px;
    align-items: center;
    display: flex;
}
.header > span {
    font-size: 16px;
}
.header > button {
    background-color: #ffa019;
    color: #ffffff;
    border: #ffa019;
    width: 184px;
    height: 37px;
    margin-left: auto;
    margin-top: 11px;
    margin-bottom: 14px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
}
.menu {
    align-items: center;
    height: 62px;
    display: flex;
}
.menu > span {
    font-size: 30px;
    font-weight: bold;
}
.menu > nav > ul {
    list-style-type: none;
    display: flex;
    font-size: 14px;
    margin-top: 24px;
}
.menu > nav > ul > li {
    margin-left: 40px;
}
.mainheader-bg {
    height: 751px;
    background: url(../img/bg.jpg) no-repeat center top;
    background-color: white;
}
.mainheader {
    color: #ffffff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    margin: auto;
    max-width: 1920px;
    height: 751px;
    vertical-align: center;
}
.mainheader > h1 {
    padding-top: 287px;
}
.mainheader > span {
    width: 666px;
    font-size: 20px;
    line-height: 30px;
    font-weight: lighter;
    margin: 0px;
}
.mainheader > h1 {
    font-size: 56px;
    font-weight: lighter;
    margin: 0px;
    margin-bottom: 5px;
}
.mainheader > button {
    width: 144px;
    height: 37px;
    border-radius: 10px;
    background-color: #ffffff;
    border: #ffffff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 30px;
}
.advheader {
    display: flex;
    align-items: center;
    padding-top: 132px;
}
.title {
    margin: 0px;
    font-size: 34px;
    font-weight: lighter;
}
.advheader > nav > img {
    margin-left: 8px;
}
.advantages {
    display: flex;
    margin-top: 122px;
}
.adv-item {
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
}
.aboutus {
    margin-top: 132px;
    margin-bottom: 89px;
    font-weight: lighter;
    font-size: 20px;
}
.aboutus > h1 {
    margin-bottom: 60px;
}
.aboutus > p {
    margin-top: 30px;
}
.mailingbg {
    background-color: #ffa019;
    height: 94px;
    margin-top: 89px;
}
.mailingbg > .container > form {
    display: flex;
    align-items: center;
}
.mailingbg > .container > form > label {
    color: #ffffff;
    width: 284px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 28px;
}
.mailingbg > .container > form > input {
    border: 1px solid #ffffff;
    padding: 0px;
    margin-top: 28px;
}
.mailingbg > .container > form > input[name="name"] {
    margin-left: auto;
}
.mailingbg > .container > form > input[name="email"] {
    margin-left: 25px;
}
.mailingbg > .container > form > input[type="text"] {
    width: 228px;
    height: 40px;
    background-color: #ffa019;
    padding-left: 19px;
}
.mailingbg > .container > form > input[type="submit"] {
    background-color: #ffffff;
    padding: 0px;
    width: 230px;
    height: 42px;
    margin-left: 30px;
    font-weight: 700;
}
.mailingbg > .container > form > input::placeholder {
    color: #ffffff;
}